html {
  scroll-behavior: smooth;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  color: #222;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after { 
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Remove all animations and transitions for 
   people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
